<div class="root">
  <agm-map [latitude]="lat" [longitude]="lng" (boundsChange)="boundsChange($event)" (idle)="mapIdle()"
           (mapReady)="mapReady($event)"
           (mapClick)="onMapClick($event)"
           [ngClass]="{'has-selected': !!selectedRequest}">
    <agm-marker-cluster
      imagePath="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
      [ngClass]="{'cluster': true}">
      <agm-marker *ngFor="let marker of markers"
                  [latitude]="marker.lat"
                  [longitude]="marker.lon"
                  (markerClick)="clickedMarker(marker)"
                  [ngClass]="{'crisis': true, 'selected': marker.visible}"
                  [visible]="marker.visible"
      ></agm-marker>
    </agm-marker-cluster>
    <agm-marker *ngFor="let marker of volunteers"
                [latitude]="marker.lat"
                [longitude]="marker.lon"
                label="V"
                [ngClass]="{'volunteer': true}"
    ></agm-marker>
  </agm-map>
    <app-context-menu *ngIf="isShowContextMenu" [x]="x" [y]="y" [lat]="ctxLat" [lng]="ctxLng" (onAddMissingPlace)="onAddMissingPlace($event)" ></app-context-menu>
    <app-map-request-info
      [isShowPanel]="isShowPanel"
      [selectedRequest]="requestData"
      (hidePanelEvent)="onHidePanel()"
      [volunteers]="volunteers"
      (searchVolunteersEvent)="searchVolunteers($event)"
      (selectedVolunteerEvent)="clickedVolunteer($event)"
    >
  </app-map-request-info>
</div>
