<div class="panel-container" *ngIf="isShowPanel">
  <h3 class="title">
    Có 3 Tiền Lãnh
    <div class="subtitle">Độ ưu tiên cao</div>
  </h3>

  <div class="category">
    <div class="category-item">
      Thực phẩm
    </div>
    <div class="category-item">
      Thuốc men
    </div>
  </div>

  <div class="information">
    <div class="information-item">Số 10, Nguyễn Thái Tông, Hà Tĩnh</div>
    <div class="information-item">Yêu cầu giúp đỡ: 20 phút trước</div>
    <div class="information-item">Hướng dẫn đường đi</div>
    <div class="information-item">5 người</div>
    <div class="information-item">028 445 448</div>
    <div class="information-item">Thông tin thêm</div>

    <div class="information-confirm">
      <div class="tags">Xác nhận</div>
    </div>
  </div>

  <div class="volunteers">
    <div class="volunteers-title-contain">
      <div class="volunteers-title">Tình nguyện viên</div>
      <div class="volunteer-area">
        <div class="tags">10km</div>
      </div>
    </div>

    <div class="volunteers-filters">
      <div class="volunteers-filters-item tags">All</div>
      <div class="volunteers-filters-item tags">Thức ăn 8</div>
      <div class="volunteers-filters-item tags">Thuốc men 7</div>
      <div class="volunteers-filters-item tags">Quần áo 5</div>
      <div class="volunteers-filters-item tags">Vận chuyển 3</div>
    </div>

    <div class="volunteers-list">
      <div class="volunteers-item">
        <div class="volunteers-item-title">
          <div class="volunteers-item-icon">
            <div class="volunteers-item-icon-signal">
              <span class="volunteers-item-icon-signal-text">M</span>
            </div>
          </div>
          <div class="volunteers-item-info">
            <div class="volunteers-item-name">Chú 7</div>
            <div class="volunteers-item-phone">0922888111</div>
          </div>
        </div>
        <div class="volunteers-item-service">
          Dịch vụ: Thuốc men, thực phẩm
        </div>
        <div class="volunteers-item-description">
          Cung cấp thuốc & thực phẩm
        </div>
      </div>

      <div class="volunteers-item">
        <div class="volunteers-item-title">
          <div class="volunteers-item-icon">
            <div class="volunteers-item-icon-signal">
              <span class="volunteers-item-icon-signal-text">M</span>
            </div>
          </div>
          <div class="volunteers-item-info">
            <div class="volunteers-item-name">Chú 8</div>
            <div class="volunteers-item-phone">0922888111</div>
          </div>
        </div>
        <div class="volunteers-item-service">
          Dịch vụ: Thuốc men, thực phẩm
        </div>
        <div class="volunteers-item-description">
          Cung cấp thuốc & thực phẩm
        </div>
      </div>

      <div class="volunteers-item">
        <div class="volunteers-item-title">
          <div class="volunteers-item-icon">
            <div class="volunteers-item-icon-signal">
              <span class="volunteers-item-icon-signal-text">M</span>
            </div>
          </div>
          <div class="volunteers-item-info">
            <div class="volunteers-item-name">Chú 9</div>
            <div class="volunteers-item-phone">0922888111</div>
          </div>
        </div>
        <div class="volunteers-item-service">
          Dịch vụ: Thuốc men, thực phẩm
        </div>
        <div class="volunteers-item-description">
          Cung cấp thuốc & thực phẩm
        </div>
      </div>
    </div>
  </div>
</div>