<div class="panel-container" *ngIf="isShowPanel && selectedRequest !== null">
  <div class="collapse-panel" (click)="hidePanel()">
    <mat-icon aria-hidden="false" class="collapse-panel-icon">arrow_left</mat-icon>
  </div>
  <h3 class="title">
    {{selectedRequest.contactName}}
    <div class="subtitle">
      Độ ưu tiên: <span [ngClass]="priorityClass">{{priorityText}}</span>
    </div>
    <div class="subtitle">
      Trạng thái: <span [ngClass]="requestStatusClass">{{requestStatusText}}</span>
    </div>
  </h3>

  <div class="category">
    <div class="category-item tags" *ngFor="let tag of selectedRequest.tags">
      {{tag.tagValue}}
    </div>
  </div>

  <cdk-virtual-scroll-viewport class="panel-scroll" [itemSize]="200">
    <div class="information">
      <div class="information-item">
        <mat-icon aria-hidden="false" class="information-item-icon">phone</mat-icon>
        Điện thoại: {{selectedRequest.contactPhone}}
      </div>
      <div class="information-item">
        <mat-icon aria-hidden="false" class="information-item-icon">location_on</mat-icon>
        Địa chỉ: {{selectedRequest.contactAddress}}
      </div>
      <div class="information-item">
        <mat-icon aria-hidden="false" class="information-item-icon">access_time</mat-icon>
        Yêu cầu giúp đỡ: {{informationTime}}
      </div>
      <div class="information-item">
        <mat-icon aria-hidden="false" class="information-item-icon">alt_route</mat-icon>
        Hướng dẫn đường đi: {{selectedRequest.instructionDetail}}
      </div>
      <div class="information-item">
        <mat-icon aria-hidden="false" class="information-item-icon">people_alt</mat-icon>
        Số người cần giúp đỡ: {{selectedRequest.personNumber}}
      </div>
      <div class="information-item">
        <mat-icon aria-hidden="false" class="information-item-icon">info</mat-icon>
        Thông tin thêm: {{selectedRequest.additionInfo}}
      </div>

      <div class="information-confirm" *ngIf="isShowConfirmButton">
        <div class="tags">
          <mat-icon aria-hidden="false" class="information-confirm-icon">feedback</mat-icon>
          <span class="information-confirm-text">
            Xác thực
          </span>
        </div>
      </div>
    </div>

    <div class="volunteers">
      <div class="volunteers-title-contain">
        <div class="volunteers-title">Tình nguyện viên trong bán kính</div>
        <div class="volunteer-area">
          <div class="tags" [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" class="volunteer-area-icon">sort</mat-icon>
            {{selectedDistance}} km
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onSelectDistance(10)">10 km</button>
            <button mat-menu-item (click)="onSelectDistance(20)">20 km</button>
            <button mat-menu-item (click)="onSelectDistance(50)">50 km</button>
            <button mat-menu-item (click)="onSelectDistance(100)">100 km</button>
          </mat-menu>
        </div>
      </div>

      <div class="volunteers-filters">
        <div
          class="volunteers-filters-item tags"
          [ngClass]="{ 'active': isSelectedAllTags }"
          (click)="onSelectAllTagOfVolunteers()"
        >
          Tất cả
        </div>
        <div
          class="volunteers-filters-item tags"
          *ngFor="let tag of allTags"
          (click)="onFilterTagsOfVolunteers(tag.id)"
          [ngClass]="{ 'active': selectedTagId.includes(tag.id) }"
        >
          {{tag.tagValue}}
        </div>
      </div>

      <div class="volunteers-list">
        <div class="volunteers-item" *ngFor="let volunteer of localVolunteers">
          <div class="volunteers-item-title">
            <div class="volunteers-item-icon">
              <div class="volunteers-item-icon-signal">
                <span class="volunteers-item-icon-signal-text">M</span>
              </div>
            </div>
            <div class="volunteers-item-info">
              <div class="volunteers-item-name">{{volunteer.name}}</div>
              <div class="volunteers-item-phone">{{volunteer.phone}}</div>
              <div class="volunteers-item-phone">{{volunteer.distance.toFixed(2)}} km</div>
            </div>
          </div>
          <div class="volunteers-item-service">
            Có thể đáp ứng: <span [innerHtml]="showTagsOfVolunteersAsText(volunteer)"></span>
          </div>
          <!-- <div class="volunteers-item-description">
            Cung cấp thuốc & thực phẩm
          </div> -->
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>